body {
    padding: 0;
    margin: 0;
    background-color: #141414;
    height: 200vh;
}

.navcontainer {
    display: flex;
    justify-content: center;
    height: 68px;
    position: fixed;
    z-index: 4;
    background: rgba(20, 20, 20, .6);
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.left_links {
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    align-items: center;
    color: white;
    width: 600px;
    font-size: 1.05vw;
}

.text_links {
    display: flex;
    justify-content: space-between;
    width: 29vw;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 9vw;
    margin-left: 40px;
}

.right_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    display: flex;
    width: 14vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05vw;
    margin-right: 50px;
}

#search {
    width: 2vw;
}

#notification {
    width: 2vw;
    filter: invert(100%);
}

.dropmenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile {
    width: 2.5vw;
}

#drop {
    width: .75vw;
    filter: invert(100%);
    padding-left: 6px;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
}

.button {
    position: absolute;
    z-index: 1;
    top: 43%;
    background: rgba(51, 51, 51, .6);
    width: 9%;
    height: 5%;
    color: white;
    border-radius: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05vw;
    display: flex;
    justify-content: center;
}

.button:hover {
    background: black;
    filter: invert(100%);
}

.play {
    width: 1.15vw;
    filter: invert(100%);
    padding-right: 6px;
}

#plus {
    width: 1.15vw;
    filter: invert(100%);
    padding-right: 8px;
}

.info {
    position: absolute;
    z-index: 1;
    top: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    left: 4%;
}

#watch {
    font-size: 1.6vw;
    font-weight: bold;
}

#summary {
    font-size: 1.4vw;
    margin-top: 5px;
}

#headbox button:nth-child(2) {
    left: 4%;
}

#headbox button:nth-child(3) {
    left: 14%;
}

#headbox {
    width: 100vw;
    position: relative;
}

.callout {
    position: absolute;
    width: 32%;
    z-index: 1;
    top: 18%;
    left: 4%
}

.gradient {
    position: relative;
    bottom: 178px;
    z-index: 1;
    height: 25vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(20, 20, 20, 1));
}

.callings {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 50px;
    font-size: 1.4vw;
    width: 50%;
    z-index: 1;
}

#popular {
    top: 30px;
}

#trend {
    margin-left: 7px;
}

#recent {
    bottom: 21px;
    margin-left: 7px;
}

#watchagain {
    bottom: 40px;
    margin-left: 7px;
}

.sliders {
    position: relative;
    bottom: 370px;
    z-index: 3;
}

.slide_container {
    display: flex;
    padding: 40px 50px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
}

.slide_container2 {
    display: flex;
    padding: 40px 55px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
    position: relative;
    bottom: 30px;
}

.slide_container3 {
    display: flex;
    padding: 40px 55px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
    position: relative;
    bottom: 50px;
}

.slide_container4 {
    display: flex;
    padding: 40px 55px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
    position: relative;
    bottom: 70px;
}

.item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 19%;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.item_style {
    width: 18vw;
    height: auto;
}

.slide_container:hover .item {
    transform: translateX(-25%);
}

.slide_container2:hover .item {
    transform: translateX(-25%);
}

.slide_container3:hover .item {
    transform: translateX(-25%);
}

.slide_container4:hover .item {
    transform: translateX(-25%);
}

.item:hover~.item {
    transform: translateX(25%);
}

.item:hover {
    transform: scale(1.5) !important;
}